
<style type="text/css">

.marginTop{
  padding-top: 200px !important;
  margin-top: 100px !important;
}

.heigh150{
  height: 150px;
  border-radius: 10% !important;
}

  .rightContainer{
    text-align: justify;
    padding-right: 5%;
    text-align: left;
    padding-left:5%;
    font-size: 100%;    
  }

  .floatRight{
    float:right !important;
  }

    .floatLeft{
    text-align: left;
  }

  .letter{
    font-family: 'Great Vibes', cursive;
    font-size: 200%;
    color: #992e68;
  }


  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.img-logo{
  height: 100%;
}

.pink-background{
   background: rgba(229, 76, 159, 0.3);
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

.space{
  height: 40%;
}

.schedule{
  padding-top: 10%;
  padding-bottom:10%;
  width: 100%;
  height:100%;

}

@keyframes slidy {
0% { left: 18%; }
20% { left: 10%; }
40% { left: -75%; }
55% { left: -88%; }
100% { left: -200%; }
}

body { margin: 0; }
div#slider { overflow: hidden; }
div#slider figure img { width: 14%; float: left; }
div#slider figure {
  position: relative;
  width: 500%;
  margin: -10;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}

.item img {
    width: 100%;
    border-radius: 10% !important;
}

.img-slider{
  width: 100%;
  height:80% !important;
  margin-right: 5%

}

.paddingLeft{
  padding-left: 200px;
}

.colorPink{
   color: #992e68;
}

.width100{
  width: 100px !important;
}



  .logo{
    width: 20%;
    height: 10%;
  }
  .logo-img{
      width: 200%;
      padding-left: 150%;
      padding-top: 40%;
  }
  .greenColor{
    color:#80EC2B;
  }
  .floatLeft{
    text-align: left;
  }

  .padding-left{
    padding-left: 4% !important;
  }

  .purpleColor{
    color:#992e68;
  }

  .paddingLeft{
    padding-left: 10%;
  }

  .greenColor{
    background-color: rgba(121, 210, 6, 0.63);;
    color:white;
    text-align: center;
    border: 3%;
    border-color: white;
    border-radius: 25%;
  }

  .lightPinkColor{
    background: rgba(229, 76, 159, 0.43);
    font-style: bold;
  }

  .darkPinkColor{
    background: #e54c9f;
    color: #fff;
  }

.img-30percent{
  width: 30%;
}


  #accommodation img {
    width: 40% !important;
}

.imglog{
  width:100px;
  height: 50px;
}

</style>